.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align horizontally */
  }
  
  .inputField {
    width: 300px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    margin: 20px auto; /* Center align the input field */
  }
  
  .cocktailsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center align horizontally */
  }
  
  .cocktailCard {
    width: 200px; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .cocktailImage {
    width: 100%;
    height: auto;
  }
  
  .cocktailInfo {
    padding: 10px;
  }
  
  .cocktailName {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .cocktailIngredients {
    margin: 5px 0;
    color: #666;
  }
  